@{
    ViewData["Title"] = "Cosmos DB";
}

<p>Useage: URL->  /Cosmos?rg=RESOURCE_GROUP_NAME&name=COSMOS_DB_NAME</p>

<h3>Enable your MSI to access Cosmos DB Keys.</h3>
<p>Give MSI <em>Contributor</em> access to the Cosmos DB </p>


<h3>Cosmos DB Resources (Using ARM Token):</h3>

<h3>All Cosmos DB Accounts in Subscription</h3>
<pre class="prettyprint lang-js">
    @ViewData["AllCosmosJson"]
</pre>

<ul>
@if (ViewData["AllCosmos"] != null)
    {
        var cosmosList = (List<string>)ViewData["AllCosmosNames"];
        foreach (var i in cosmosList)
        { 
        <li>@i</li>
        }        
    }
</ul>

<br/>

<h3>Cosmos: @ViewData["CosmosName"]</h3>
<p>Number of Cosmos Keys</p>
<p>@ViewData["NumKeys"]</p>

<h4>Key Types</h4>
<pre class="prettyprint lang-js">
    @ViewData["KeyNamesJson"]
</pre>



